<div class="container">

  <h1>SEARCH</h1>

  <h4>Find any emergency phone immediately.</h4>

  <br />

  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <label for="country">Country:</label>
      </div>
      <div class="col-md-6">
          <select [(ngModel)]="country" (ngModelChange)="changeCountry(country)" class="form-control">
              <option [ngValue]="nothing" disabled>Select Country</option>
              <option *ngFor="let country of countries" [ngValue]="country">{{country.Name}}</option>
          </select>
      </div>
    </div>
  </div>

  <hr />

  <country [country]="country" [emergencies]="emergencyPhoneNumbers"></country>

</div>
